<template>
  <Box :title="$t('instruction')" :search="false">
  </Box>
</template>

<script>
import Box from '@/components/Box'

export default {
  name: 'Instruction',
  components: {
    Box
  }
}
</script>

<style scoped>

</style>
