<template>
  <RegionForm
    :submit="submit"
    :title="$t('Add region')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { REGION_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import RegionForm from '@/views/common/region/RegionForm'
import { REGION_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.REGION)

export default {
  name: 'RegionCreate',
  components: { RegionForm },
  methods: {
    ...mapActions({
      create: REGION_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: REGION_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
