<template>
  <RevisionForm
    :submit="submit"
    :title="$t('Add revision')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { REVISION_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import RevisionForm from '@/views/common/revision/RevisionForm'
import { REVISION_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.REVISION)

export default {
  name: 'DistrictCreate',
  components: { RevisionForm },
  methods: {
    ...mapActions({
      create: REVISION_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: REVISION_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
