<template>
  <Form
    :submit="onSubmit"
    :loading="loading || detailLoading"
    :title="title"
  >
    <v-row>
      <v-col :cols="6">
        <company-select
          v-model="form.company"
          :backendErrors="backendErrors['company']"
          rules="required"
        />
      </v-col>
      <v-col :cols="6">
        <ValidationProvider name="revisionDate" rules="required" v-slot="{ errors, valid }">
          <date-picker
            v-model="form.revisionDate"
            type="date"
            format="YYYY-MM-DD"
            :label="$t('checking_date')"
            :error-messages="backendErrors['revisionDate'] || errors"
            :success="valid"
          />
        </ValidationProvider>
      </v-col>
      <v-col :cols="6">
        <ValidationProvider name="isActive" v-slot="{ errors, valid }">
          <v-checkbox
            v-model="form.isActive"
            :error-messages="backendErrors['isActive'] || errors"
            :success="valid"
            :label="$t('is_active')"
            :placeholder="$t('is_active')"
            class="mt-0"
          ></v-checkbox>
        </ValidationProvider>
      </v-col>
    </v-row>
  </Form>
</template>

<script>
import Form from '@/components/Forms/Form'
import DatePicker from '@/components/DatePicker'
import CompanySelect from '@/components/Forms/CompanySelect'

export default {
  components: { CompanySelect, DatePicker, Form },
  props: {
    value: {
      type: Object,
      required: false
    },
    detailLoading: {
      type: Boolean,
      required: false
    },
    title: {
      type: String,
      default: ''
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data: function () {
    return {
      form: {},
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      this.submit(form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  },
  created () {
    const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
    this.form = {
      isActive: true,
      ...value
    }
  },
  watch: {
    form: {
      deep: true,
      handler (form) {
        this.backendErrors = []
        this.$emit('input', form)
      }
    }
  }
}
</script>

<style scoped>

</style>
