<template>
  <Box :title="$t('revisions')">
    <Table
      :data="list.results"
      :loading="loading"
      :count="list.count"
      :headers="tableHeaders"
    >
      <template v-slot:item.company="{ item }">
        {{ item.rating.company | translate('name') }}
      </template>
      <template v-slot:item.agent="{ item }">
        {{ item.user.fullName }}
      </template>
      <template v-slot:item.revisionDate="{ item }">
        {{ item.revisionDate | timeFormat('DD/MM/YYYY') }}
      </template>
      <template v-slot:item.nextRevisionDate="{ item }">
        {{ item.nextRevisionDate | timeFormat('DD/MM/YYYY') }}
      </template>
      <template v-slot:item.confirmed="{ item }">
        <is-active :active="item.confirmed" />
      </template>
    </Table>
    <Sticky>
      <PermissionWrapper permissions="create_district">
        <AddButton @click="createNew" />
      </PermissionWrapper>
    </Sticky>
  </Box>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import equals from 'ramda/src/equals'
import not from 'ramda/src/not'
import Box from '@/components/Box'
import Table from '@/components/Table/Table'
import { REVISION_CREATE } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import AddButton from '@/components/AddButton'
import PermissionWrapper from '@/components/PermissionWrapper'
import Sticky from '@/components/Sticky'
import IsActive from '@/components/IsActive'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.REVISION)

export default {
  name: 'RevisionList',
  components: {
    IsActive,
    Sticky,
    PermissionWrapper,
    AddButton,
    Box,
    Table
  },
  data: function () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState(['list']),
    tableHeaders () {
      return [
        {
          text: '#',
          align: 'center',
          sortable: false,
          value: 'id',
          width: 30
        },
        {
          text: this.$t('company'),
          align: 'center',
          sortable: false,
          value: 'company'
        },
        {
          text: this.$t('agent'),
          align: 'center',
          sortable: false,
          value: 'agent'
        },
        {
          text: this.$t('revision_date'),
          align: 'center',
          sortable: false,
          value: 'revisionDate'
        },
        {
          text: this.$t('checking_expire'),
          align: 'center',
          sortable: false,
          value: 'nextRevisionDate'
        },
        {
          text: this.$t('confirmed'),
          align: 'center',
          sortable: false,
          value: 'confirmed'
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      getList: NAMESPACE.GET_REVISION_LIST_ACTION
    }),
    createNew () {
      this.$router.push({
        name: REVISION_CREATE
      })
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler (newVal, oldVal) {
        if (not(equals(newVal, oldVal))) {
          this.loading = true
          this.getList().finally(() => {
            this.loading = false
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
