html {
  font-family: Roboto, 'sans-serif';
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
