.theme--light {
  .v-content {
    background: #e5e5e5;
  }
  .v-data-table {
    background-color: transparent!important;
    & tbody tr {
      background: #ffffff;
    }
    & tbody tr:hover:not(.v-data-table__expanded__content, .v-data-table__empty-wrapper) {
      background: #e5e5e5;
    }
    & tbody tr.v-data-table__empty-wrapper td {
      border-left: none!important;
    }
    & tbody tr.v-data-table__expanded__content {
      box-shadow: none;
    }
    & tbody tr:not(.v-data-table__expanded__content) td:first-child {
      border-left: 2px solid transparent;
    }
    & tbody tr:hover:not(.v-data-table__expanded__content) td:first-child {
      border-left: 2px solid #000000;
    }
  }
}
