<template>
  <v-container v-if="me" pa-0 fill-height fluid>
    <navigation-drawer v-model="drawerVisibility" />
    <app-bar v-model="drawerVisibility" />
    <v-main class="flex-grow-1 fill-height">
      <router-view></router-view>
    </v-main>
    <v-footer app>
    </v-footer>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import store from '@/store'
import i18n from '@/plugins/vue-i18n'
import AppBar from '@/components/Header/AppBar'
import { INSTRUCTION } from '@/constants/routes'
import NavigationDrawer from '@/components/Header/NavigationDrawer'

export default {
  name: 'AdminLayout',
  components: {
    NavigationDrawer,
    AppBar
  },
  data () {
    return {
      drawerVisibility: false
    }
  },
  computed: {
    ...mapState(['me'])
  },
  beforeRouteEnter: (to, from, next) => {
    const permissions = to.meta.permissions
    if (permissions) {
      const hasAccess = store.getters.hasAccess(permissions)
      if (hasAccess) return next()
      return next({ name: INSTRUCTION, params: { lang: i18n.locale } })
    }
    next()
  }
}
</script>

<style scoped></style>
