<template>
  <Form
    :submit="onSubmit"
    :loading="loading || detailLoading"
    :title="title"
  >
    <v-row>
      <v-col :cols="6">
        <ValidationProvider name="nameRu" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.nameRu"
            :error-messages="backendErrors['nameRu'] || errors"
            :success="valid"
            :label="$t('name_ru')"
            outlined
            dense
            required
          ></v-text-field>
        </ValidationProvider>
      </v-col>
      <v-col :cols="6">
        <ValidationProvider name="nameUz" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.nameUz"
            :error-messages="backendErrors['nameUz'] || errors"
            :success="valid"
            :label="$t('name_uz')"
            type="text"
            dense
            outlined
            required
          >
          </v-text-field>
        </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="6">
        <ValidationProvider name="taxId" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.taxId"
            :error-messages="backendErrors['taxId'] || errors"
            :success="valid"
            :items="[]"
            :label="$t('tax_id')"
            type="number"
            outlined
            dense
            required
          >
          </v-text-field>
        </ValidationProvider>
      </v-col>
      <v-col :cols="6">
        <ValidationProvider name="isActive" v-slot="{ errors, valid }">
          <v-checkbox
            v-model="form.isActive"
            :error-messages="backendErrors['isActive'] || errors"
            :success="valid"
            :label="$t('is_active')"
            :placeholder="$t('is_active')"
            class="mt-0"
            ></v-checkbox>
        </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="6">
        <OrganizationSelect
          v-model="form.mainOrganization"
          :backend-errors="backendErrors['mainOrganization']"
        ></OrganizationSelect>
      </v-col>
      <v-col :cols="6">
        <RegionSelect v-model="region"></RegionSelect>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="6">
        <DistrictSelect
          v-model="form.district"
          :key="region && region.id"
          :region="region && region.id"
          :backend-errors="backendErrors['district']"
        ></DistrictSelect>
      </v-col>
      <v-col :cols="6">
        <StationSelect
          v-model="form.station"
          :key="region && region.id"
          :region="region && region.id"
          :backend-errors="backendErrors['station']"
        ></StationSelect>
      </v-col>
    </v-row>
    <v-input :messages="backendErrors['factorValues']">
      <FactorSelect
        :value="form.factorValues"
        @update="(i, val) => updateFactorValues(i, val)"
      />
    </v-input>
  </Form>
</template>

<script>
import path from 'ramda/src/path'
import Form from '@/components/Forms/Form'
import OrganizationSelect from '@/components/Forms/OrganizationSelect'
import StationSelect from '@/components/Forms/StationSelect'
import RegionSelect from '@/components/Forms/RegionSelect'
import FactorSelect from '@/components/Forms/FactorSelect'
import DistrictSelect from '@/components/Forms/DistrictSelect'
export default {
  components: {
    DistrictSelect,
    RegionSelect,
    FactorSelect,
    StationSelect,
    OrganizationSelect,
    Form
  },
  props: {
    value: {
      type: Object,
      required: false
    },
    detailLoading: {
      type: Boolean,
      required: false
    },
    title: {
      type: String,
      default: ''
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      form: {},
      region: undefined,
      backendErrors: {},
      loading: false
    }
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      return this.submit(form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    },
    updateFactorValues (i, val) {
      this.$set(this.form.factorValues, i, val)
    }
  },
  mounted () {
    const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
    this.form = {
      factorValues: [],
      isActive: true,
      ...value
    }
    this.region = path(['district', 'region'], value)
  },
  watch: {
    form: {
      deep: true,
      handler () {
        this.backendErrors = {}
      }
    }
  }
}
</script>

<style scoped>

</style>
