<template>
  <CompanyForm
    :submit="submit"
    :title="$t('Add company')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { COMPANY_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import CompanyForm from '@/views/common/company/CompanyForm'
import { COMPANY_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.COMPANY)

export default {
  name: 'CompanyCreate',
  components: { CompanyForm },
  methods: {
    ...mapActions({
      create: COMPANY_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: COMPANY_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
