<template>
  <Box :title="$t('users')">
    <Table
      :data="list.results"
      :loading="loading"
      :count="list.count"
      :headers="tableHeaders">
      <template v-slot:item.owner="{ item }">
        {{ item.owner.username }}<br />
      </template>
      <template v-slot:item.fullName="{ item }">
        {{ item.owner.firstName }}&nbsp;{{ item.owner.lastName }}
      </template>
      <template v-slot:item.createdDate="{ item }">
        {{ item.createdDate | timeFormat('DD.MM.YYYY HH:mm') }}
      </template>
      <template v-slot:item.download="{ item }">
        <download-button :action="download(item.id)" />
      </template>
    </Table>
  </Box>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import equals from 'ramda/src/equals'
import not from 'ramda/src/not'
import Box from '@/components/Box'
import Table from '@/components/Table/Table'
import * as NAMESPACE from '@/constants/actionTypes'
import DownloadButton from '@/components/DownloadButton'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.REPORT)

export default {
  name: 'UserList',
  components: {
    DownloadButton,
    Box,
    Table
  },
  data: function () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState(['list']),
    tableHeaders () {
      return [
        {
          text: '#',
          align: 'center',
          sortable: false,
          value: 'id',
          width: 40
        },
        {
          text: this.$t('owner'),
          align: 'center',
          sortable: false,
          value: 'owner'
        },
        {
          text: this.$t('Full name'),
          align: 'center',
          sortable: false,
          value: 'fullName'
        },
        {
          text: this.$t('Created date'),
          align: 'center',
          sortable: false,
          value: 'createdDate'
        },
        {
          text: this.$t('download'),
          align: 'center',
          sortable: false,
          value: 'download',
          width: 40
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      getList: NAMESPACE.GET_REPORT_LIST_ACTION,
      download: NAMESPACE.DOWNLOAD_REPORT_ACTION
    })
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler (newVal, oldVal) {
        if (not(equals(newVal, oldVal))) {
          this.loading = true
          this.getList().finally(() => {
            this.loading = false
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
