<template>
  <FactorForm
    :submit="submit"
    :title="$t('Add factor')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { FACTOR_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import FactorForm from '@/views/common/factor/FactorForm'
import { FACTOR_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.FACTOR)

export default {
  name: 'FactorCreate',
  components: { FactorForm },
  methods: {
    ...mapActions({
      create: FACTOR_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: FACTOR_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
