<template>
  <Form
    :submit="onSubmit"
    :loading="loading || detailLoading"
    :title="title"
  >
    <v-row>
      <v-col :cols="6">
        <ValidationProvider name="nameRu" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.nameRu"
            :error-messages="backendErrors['nameRu'] || errors"
            :success="valid"
            :label="$t('name_ru')"
            outlined
            dense
            required
          ></v-text-field>
        </ValidationProvider>
      </v-col>
      <v-col :cols="6">
        <ValidationProvider name="nameUz" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.nameUz"
            :error-messages="backendErrors['nameUz'] || errors"
            :success="valid"
            type="text"
            :label="$t('name_uz')"
            outlined
            dense
            required
          >
          </v-text-field>
        </ValidationProvider>
      </v-col>
      <v-col :cols="6">
        <RegionSelect v-model="region"></RegionSelect>
      </v-col>
      <v-col :cols="6">
        <DistrictSelect
          v-model="form.district"
          :key="region && region.id"
          :region="region && region.id"
          :backend-errors="backendErrors['district']"
        ></DistrictSelect>
      </v-col>
    </v-row>
  </Form>
</template>

<script>
import Form from '@/components/Forms/Form'
import RegionSelect from '@/components/Forms/RegionSelect'
import DistrictSelect from '@/components/Forms/DistrictSelect'
export default {
  components: { DistrictSelect, RegionSelect, Form },
  props: {
    value: {
      type: Object,
      required: false
    },
    detailLoading: {
      type: Boolean,
      required: false
    },
    title: {
      type: String,
      default: ''
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data: function () {
    return {
      form: {},
      region: {},
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      this.submit(form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  },
  created () {
    const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
    this.form = { ...value }
  },
  watch: {
    form: {
      deep: true,
      handler (form) {
        this.backendErrors = []
        this.$emit('input', form)
      }
    }
  }
}
</script>

<style scoped>

</style>
