<template>
  <StationForm
    :submit="submit"
    :title="$t('Add station')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { STATION_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import StationForm from '@/views/common/station/StationForm'
import { STATION_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.STATION)

export default {
  name: 'StationCreate',
  components: { StationForm },
  methods: {
    ...mapActions({
      create: STATION_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: STATION_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
