<template>
  <v-app-bar height="75" app>
    <v-app-bar-nav-icon @click.stop="$emit('input', !value)"></v-app-bar-nav-icon>
    <div class="ml-3 d-flex align-center title">
      <v-img
        :src="require('../../assets/rwnadzor.png')"
        max-width="50"
        max-height="50"
        class="mr-2"
      ></v-img>
      <div>
        <p>{{ $t('uz_inspection') }}</p>
        <h3>{{ $t('system_name') }}</h3>
      </div>
    </div>
    <v-spacer></v-spacer>
    <theme-toggle />
    <locale-toggle />
  </v-app-bar>
</template>

<script>
import ThemeToggle from '@/components/Header/ThemeToggle'
import LocaleToggle from '@/components/Header/LocaleToggle'

export default {
  name: 'AppBar',
  props: {
    value: {
      type: Boolean
    }
  },
  components: {
    LocaleToggle,
    ThemeToggle
  }
}
</script>

<style lang="scss" scoped>
  .title {
    max-width: 460px;
    & h3 {
      color: #1976D3;
      text-transform: uppercase;
      font-size: 17px;
      line-height: 1.2;
      letter-spacing: 1px;
  }
    & p {
      margin-bottom: 2px;
      padding-bottom: 3px;
      border-bottom: 1px solid #1976d214;
      color: #1976D3;
      line-height: 1;
      font-size: 14px;
    }
  }
</style>
