<template>
  <div class="theme-toggle">
    <v-select
      :items="languages"
      :hide-details="true"
      v-model="language"
      @change="changeLocale"
      append-icon="mdi-chevron-down"
      prepend-icon="mdi-earth"
      class="mr-2 pl-2"
      solo
      flat
      dense
    ></v-select>
  </div>
</template>

<script>
import { LANGUAGES } from '@/constants/language'

export default {
  name: 'LocaleToggle',
  data: function () {
    const { $i18n: { locale } } = this
    return {
      language: locale
    }
  },
  methods: {
    changeLocale (lang) {
      const query = this.$route.query
      const params = {
        ...this.$route.params,
        lang
      }
      this.$i18n.locale = lang
      this.$router.replace({
        query,
        params
      })
    }
  },
  computed: {
    languages: () => LANGUAGES
  }
}
</script>

<style lang="scss">
  .theme-toggle {
    max-width: 130px;
  }
</style>
