<template>
  <v-navigation-drawer
    :value="value"
    :clipped="$vuetify.breakpoint.lgAndUp"
    @input="$emit('input', $event)"
    app>
    <v-list class="py-0" dense nav>
      <v-list-item class="my-2">
        <v-list-item-avatar v-if="me.avatar">
          <img :src="me.avatar.avatar" :alt="fullName" />
        </v-list-item-avatar>

        <v-list-item-content :class="[{ 'text-center': !me.avatar }]">
          <v-list-item-title>{{ fullName }}</v-list-item-title>
          <v-list-item-subtitle>{{ me.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <permission-wrapper
        v-for="item in menu"
        :key="item.name"
        :permissions="item.permissions">

        <v-list-item
          :to="{ name: item.name }"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              {{ $t(item.title) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </permission-wrapper>
      <v-divider></v-divider>
      <v-list-item @click="logout">
        <v-list-item-icon>
          <v-icon>mdi-exit-to-app</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ $t('logout') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'
import { menu } from '@/constants/menu'
import PermissionWrapper from '@/components/PermissionWrapper'
import { LOGOUT_ACTION } from '@/constants/actionTypes'

export default {
  name: 'NavigationDrawer',
  components: { PermissionWrapper },
  props: {
    value: {
      type: Boolean
    }
  },
  data () {
    return {
      menu
    }
  },
  computed: {
    ...mapState(['me']),
    fullName () {
      const { me: { firstName, lastName } } = this
      return `${firstName} ${lastName}`
    }
  },
  methods: {
    logout () {
      this.$store.dispatch(LOGOUT_ACTION)
    }
  }
}
</script>

<style lang="scss"></style>
