<template>
  <v-badge
    class="notification pl-4 mr-4"
    color="grey"
    :content="undefined"
    :value="false"
    dot
  >
    <v-icon color="grey lighten-1" medium>mdi-bell</v-icon>
  </v-badge>
</template>

<script>
export default {
  name: 'Notification'
}
</script>

<style lang="scss">
  .notification {
    border-left: 1px solid #E0E0E0;
  }
</style>
