<template>
  <v-btn @click="toggleTheme" text icon>
    <v-icon v-if="dark">mdi-weather-sunny</v-icon>
    <v-icon v-else>mdi-moon-waxing-crescent</v-icon>
  </v-btn>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { TOGGLE_THEME_ACTION } from '@/constants/actionTypes'

export default {
  name: 'ThemeToggle',
  computed: {
    ...mapState(['dark'])
  },
  methods: {
    ...mapActions({
      toggle: TOGGLE_THEME_ACTION
    }),
    toggleTheme () {
      this.toggle()
      this.$vuetify.theme.dark = this.dark
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
