<template>
  <v-fab-transition>
    <v-btn v-on="$listeners" class="mx-2" small fab color="primary">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  name: 'AddButton'
}
</script>

<style scoped>
</style>
