<template>
  <v-dialog
    ref="dialog"
    v-model="modal"
    :return-value.sync="date"
    persistent
    width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        :value="formattedDate"
        :label="label"
        :error-messages="errorMessages"
        :success="success"
        v-on="on"
        readonly
        dense
        outlined
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" :type="type" scrollable>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modal = false">{{ $t('cancel') }}</v-btn>
      <v-btn text color="primary" @click="save">{{ $t('ok') }}</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
import moment from 'moment'

export default {
  name: 'DatePicker',
  props: {
    name: {
      type: String,
      default: 'datePicker'
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: String
    },
    type: {
      type: String,
      default: 'date'
    },
    success: {
      type: [Boolean, null],
      default: null
    },
    errorMessages: {
      type: [Array, String]
    },
    format: {
      type: String,
      default: ''
    },
    visibleFormat: {
      type: String,
      default: 'DD/MM/YYYY'
    }
  },
  data () {
    return {
      modal: false,
      date: null
    }
  },
  methods: {
    save () {
      const defaultFormat = this.format
      const date = moment(this.date, defaultFormat).format(this.format)
      this.$refs.dialog.save(this.date)
      this.$emit('input', date)
    }
  },
  computed: {
    formattedDate () {
      const defaultFormat = this.visibleFormat
      const sourceFormat = this.format
      if (this.date) {
        return moment(this.date, sourceFormat).format(defaultFormat)
      }
      return ''
    }
  },
  watch: {
    value () {
      this.$nextTick(function () {
        const defaultFormat = this.format
        if (this.value) {
          this.date = moment(this.value).format(defaultFormat)
        }
      })
    }
  }
}
</script>

<style scoped></style>
