<template>
  <v-fab-transition>
    <v-btn v-on="$listeners" class="mx-2" small dark fab color="red">
      <v-icon>mdi-delete</v-icon>
    </v-btn>
  </v-fab-transition>
</template>

<script>
export default {
  name: 'DeleteButton'
}
</script>

<style scoped>
</style>
