<template>
  <v-btn
    @click="download"
    class="mx-2"
    color="primary"
    x-small
    fab
    :icon="true"
    :disabled="loading"
  >
    <span v-if="loading" class="black--text">{{ percent }}</span>
    <v-icon v-else dark>mdi-cloud-download-outline</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'DownloadButton',
  props: {
    action: {
      type: Promise,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      percent: 0
    }
  },
  methods: {
    download () {
      this.loading = true
      this.action.then(download => {
        download({
          responseType: 'blob',
          onDownloadProgress: (progressEvent) => {
            this.percent = Math.round((progressEvent.loaded * 100) / progressEvent.total)
          }
        }).then((response) => {
          const url = URL.createObjectURL(response.request.response)
          window.open(url, '__blank')
          setTimeout(() => {
            URL.revokeObjectURL(url)
          }, 2000)
        }).finally(() => {
          this.loading = false
          this.percent = 0
        })
      })
    }
  }
}
</script>

<style scoped>
</style>
