<template>
  <div>
    <span v-if="isLogic">{{ value }}</span>
    <span v-else-if="isInterval">{{ ratingSum }}</span>
    <span v-else>{{ ratingVal }}</span>
  </div>
</template>

<script>
export default {
  name: 'FactorValueCalc',
  props: {
    value: {
      type: Number,
      required: true
    },
    factor: {
      type: Object,
      required: true
    }
  },
  computed: {
    isInterval () {
      return this.factor.isInterval
    },
    isLogic () {
      const conditions = this.factor.conditions
      const isInterval = this.factor.isInterval
      if (!isInterval) {
        return conditions[0].logic
      }
      return false
    },
    ratingSum () {
      const val = this.value
      const conditions = this.factor.conditions
      let ballSum = 0
      for (let i = 0; i < conditions.length; i++) {
        const minVal = conditions[i].min || 0
        const maxVal = conditions[i].max || 0
        const value = conditions[i].value || 0
        if (minVal <= val && val < maxVal) {
          ballSum = value
          break
        }
      }
      return ballSum
    },
    ratingVal () {
      const conditions = this.factor.conditions
      const val = this.value
      const value = conditions[0].value || 0
      const format = this.$options.filters.digit
      return `${format(value)} * ${format(this.value)} = ${format(val * value)}`
    }
  }
}
</script>

<style scoped>

</style>
