<template>
  <v-dialog v-model="visible" max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" color="primary lighten-2">
        <v-icon left>mdi-tune</v-icon> {{ $t('filters') }}
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        <span style="text-transform: capitalize">{{ $t('filters') }}</span>
        <v-spacer></v-spacer>
        <v-btn @click="visible=false" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="pb-0">
        <slot />
      </v-card-text>
      <v-card-actions>
        <v-container class="pt-0 pb-4">
          <v-row justify="space-between">
            <v-col cols="12" sm="6">
              <v-btn
                color="primary lighten-1"
                @click="submit"
                large
                depressed
                block
              >{{ $t('submit') }}</v-btn>
            </v-col>
            <v-col cols="12" sm="6">
              <v-btn
                color="red darken-1"
                @click="clear"
                large
                outlined
                block
              >{{ $t('clear') }}</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import omit from 'ramda/src/omit'
import map from 'ramda/src/map'
import keys from 'ramda/src/keys'
import fromPairs from 'ramda/src/fromPairs'
import prop from 'ramda/src/prop'
import is from 'ramda/src/is'
import toPairs from 'ramda/src/toPairs'

export default {
  name: 'FilterDialog',
  props: {
    value: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      visible: false
    }
  },
  methods: {
    clear () {
      const filter = this.value
      const query = this.$route.query
      const clearedQuery = omit(keys(filter), query)
      this.$router.push({
        query: {
          ...clearedQuery
        }
      })
      this.$emit('input', {})
    },
    submit () {
      const filter = fromPairs(
        map(pair => {
          if (is(Object, pair[1])) pair[1] = prop('id', pair[1])
          return pair
        }, toPairs(this.value)))
      const query = this.$route.query
      this.visible = false
      this.$router.push({
        query: {
          ...query,
          ...filter
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
