<template functional>
  <div class="d-flex input-detail">
    <h3 v-if="props.label || $scopedSlots.label" class="label">
      <slot name="label">
        {{ props.label }}:
      </slot>
    </h3>
    <div class="value">
      <slot name="default"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputDetail',
  props: {
    label: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.input-detail {
  .label {
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 15px;
  }
  .value {
    font-size: 14px;
    line-height: 1.7;
  }
}
</style>
