<template>
  <v-icon :color="active ? 'success darken-2' : 'grey'" small>mdi-check-decagram</v-icon>
</template>

<script>
export default {
  name: 'IsActive',
  props: {
    active: {
      type: Boolean,
      default: false
    }
  }
}
</script>
