<template>
  <v-card class="py-4 pa-6" outlined>
    <v-overlay
      :absolute="true"
      :value="loading"
      :opacity="0.6"
    >
      <v-progress-circular indeterminate :size="size"></v-progress-circular>
    </v-overlay>
    <slot />
  </v-card>
</template>

<script>
export default {
  name: 'Loading',
  props: {
    size: {
      type: Number,
      default: 64
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>
