<template>
  <div v-if="hasAccess(permissions)">
    <slot></slot>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PermissionWrapper',
  props: {
    permissions: {
      type: [Array, String]
    }
  },
  computed: {
    ...mapGetters(['hasAccess'])
  }
}
</script>

<style scoped>

</style>
