<template>
  <div :class="[...importance, 'font-weight-black']">
    <span v-if="value > 0">+{{ value | digit }}</span>
    <span v-else>{{ value }}</span>
  </div>
</template>

<script>
import moment from '@/plugins/moment'

export default {
  name: 'RatingDifference',
  props: {
    value: {
      type: Number,
      required: false
    },
    expiresDate: {
      type: [String, Object],
      required: false
    }
  },
  computed: {
    isExpired () {
      const { expiresDate } = this
      const date = moment(expiresDate)
      if (date.isValid()) {
        return date.isBefore(moment.now())
      }
      return true
    },
    importance () {
      const { value, isExpired } = this
      if (!isExpired) return ['green', 'lighten-2']
      if (value > 5) {
        return ['red', 'lighten-2']
      }
      if (value > 0 && value <= 5) {
        return ['yellow', 'darken-1']
      }
      return ['green', 'lighten-2']
    }
  }
}
</script>

<style>
</style>
