<template>
  <v-btn
    v-on="$listeners"
    class="mx-2"
    color="primary"
    small
    fab
  >
    <v-icon dark>mdi-calendar-export</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'ReportButton'
}
</script>

<style scoped>
</style>
