<template>
  <v-snackbar
    :value="snackbar.value"
    :left="snackbar.left"
    :top="snackbar.top"
    :bottom="snackbar.bottom"
    :multi-line="snackbar.multiLine"
    :timeout="snackbar.timeout"
    :absolute="snackbar.absolute"
    :vertical="snackbar.vertical"
    :color="snackbar.color"
    @input="change"
  >
    {{ snackbar.content }}
  </v-snackbar>
</template>

<script>
import { mapState } from 'vuex'
import { NOTIFY_ACTION } from '@/constants/actionTypes'

export default {
  name: 'Snackbar',
  computed: {
    ...mapState(['snackbar'])
  },
  methods: {
    change (val) {
      if (!val) {
        this.$store.dispatch(NOTIFY_ACTION, { content: '', value: false })
      }
    }
  }
}
</script>

<style scoped>

</style>
