<template functional>
  <div class="sticky" :style="{
      top: props.top,
      bottom: props.bottom,
      left: props.left,
      right: props.right
    }">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Sticky'
}
</script>

<style lang="scss">
  .sticky {
    position: fixed;
    padding: 5px;
    bottom: 20px;
    right: 5px;
    & > div:not(:last-child) {
      margin-bottom: 10px;
    }
    .v-speed-dial__list {
      padding-bottom: 5px;
      position: static;
    }
  }
</style>
