<template>
  <CategoryForm
    :submit="submit"
    :title="$t('Add category')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { CATEGORY_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import CategoryForm from '@/views/common/category/CategoryForm'
import { CATEGORY_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.CATEGORY)

export default {
  name: 'CategoryCreate',
  components: { CategoryForm },
  methods: {
    ...mapActions({
      create: CATEGORY_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: CATEGORY_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
