<template>
  <Box :title="$t('categories')">
    <Table
      :data="list.results"
      :loading="loading"
      :count="list.count"
      :headers="tableHeaders"
      :show-select="true"
    >
      <template v-slot:item.name="{ item }">
        {{ item | translate('name') }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-list>
              <PermissionWrapper permissions="update_category">
                <v-list-item :to="{ name: CATEGORY_UPDATE, params: { id: item.id } }">
                  <v-list-item-icon class="mr-5">
                    <v-icon>mdi-pencil</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{$t('update')}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </PermissionWrapper>
              <v-divider></v-divider>
              <PermissionWrapper permissions="destroy_category">
                <v-list-item @click="onDelete(item.id)">
                  <v-list-item-icon class="mr-5">
                    <v-icon>mdi-delete</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('delete') }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </PermissionWrapper>
            </v-list>
          </v-card>
        </v-menu>
      </template>
    </Table>
    <Sticky>
      <PermissionWrapper permissions="destroy_category">
        <DeleteButton v-show="$route.query.ids" @click="onBulkDelete" />
      </PermissionWrapper>
      <PermissionWrapper permissions="create_category">
        <AddButton @click="createNew" />
      </PermissionWrapper>
    </Sticky>

  </Box>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import equals from 'ramda/src/equals'
import not from 'ramda/src/not'
import omit from 'ramda/src/omit'
import Box from '@/components/Box'
import Table from '@/components/Table/Table'
import { CATEGORY_UPDATE, CATEGORY_CREATE } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import AddButton from '@/components/AddButton'
import PermissionWrapper from '@/components/PermissionWrapper'
import DeleteButton from '@/components/DeleteButton'
import Sticky from '@/components/Sticky'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.CATEGORY)

export default {
  name: 'CategoryList',
  components: {
    Sticky,
    DeleteButton,
    PermissionWrapper,
    AddButton,
    Box,
    Table
  },
  data: function () {
    return {
      CATEGORY_UPDATE,
      loading: false
    }
  },
  computed: {
    ...mapState(['list']),
    tableHeaders () {
      return [
        {
          text: '#',
          align: 'center',
          sortable: false,
          value: 'id',
          width: 30
        },
        {
          text: this.$t('name'),
          align: 'center',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$t('action'),
          align: 'center',
          sortable: false,
          value: 'action',
          width: 40
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      getList: NAMESPACE.GET_CATEGORY_LIST_ACTION,
      delete: NAMESPACE.CATEGORY_DELETE_ACTION,
      bulkDelete: NAMESPACE.CATEGORY_BULK_DELETE_ACTION
    }),
    createNew () {
      this.$router.push({
        name: CATEGORY_CREATE
      })
    },
    onBulkDelete () {
      this.$root.$confirm(this.$t('warning'), this.$t('Are you sure want delete this object?')).then(() => {
        this.loading = true
        this.bulkDelete().finally(() => {
          this.loading = false
          this.$router.push()
        })
      })
    },
    onDelete (id) {
      this.$root.$confirm(this.$t('warning'), this.$t('Are you sure want delete this object?')).then(() => {
        this.loading = true
        this.delete(id).finally(() => {
          this.loading = false
        })
      })
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler (newVal = {}, oldVal) {
        const newQuery = omit(['ids'], newVal)
        const oldQuery = omit(['ids'], oldVal)
        if (not(equals(newQuery, oldQuery)) || !oldVal) {
          this.loading = true
          this.getList().finally(() => {
            this.loading = false
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
