<template>
  <UserForm
    :key="detail && detail.id"
    :submit="submit"
    :value="detail"
    :title="$t('edit')"
    :detailLoading="loading"
    class="mt-7"
/>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import prop from 'ramda/src/prop'
import { GROUP_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import UserForm from './GroupForm'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.USER_GROUP)

export default {
  name: 'GroupUpdate',
  components: { UserForm },
  data () {
    return {
      loading: false
    }
  },
  mounted () {
    const id = prop('id', this.$route.params)
    this.loading = true
    this.detailAction(id).finally(() => {
      this.loading = false
    })
  },
  computed: {
    ...mapState(['detail'])
  },
  methods: {
    ...mapActions({
      updateAction: NAMESPACE.GROUP_UPDATE_ACTION,
      detailAction: NAMESPACE.GROUP_DETAIL_ACTION
    }),
    submit (form) {
      const id = prop('id', this.$route.params)
      return this.updateAction(id).then((update) => {
        return update(form).then(() => {
          this.$router.push({
            name: GROUP_LIST
          })
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
