<template>
  <Form
    :submit="onSubmit"
    :loading="loading || detailLoading"
    :title="title"
  >
    <v-row>
      <v-col :cols="12">
        <ValidationProvider name="name" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.name"
            :error-messages="backendErrors['name'] || errors"
            :success="valid"
            :label="$t('name')"
            type="text"
            dense
            outlined
            required
          >
          </v-text-field>
        </ValidationProvider>
      </v-col>
      <v-col :cols="12">
        <simple-permissions-select
          :backend-errors="backendErrors['permissions']"
          v-model="form.permissions" />
      </v-col>
    </v-row>
  </Form>
</template>

<script>
import Form from '@/components/Forms/Form'
import SimplePermissionsSelect from '@/components/Forms/SimplePermissionsSelect'
export default {
  components: { SimplePermissionsSelect, Form },
  props: {
    value: {
      type: Object,
      required: false,
      default: () => ({})
    },
    title: {
      type: String,
      required: ''
    },
    detailLoading: {
      type: Boolean,
      default: false
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data: function () {
    return {
      form: {},
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      this.submit(form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  },
  created () {
    const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
    this.form = { ...value }
  },
  watch: {
    form: {
      deep: true,
      handler (form) {
        this.backendErrors = []
        this.$emit('input', form)
      }
    }
  }
}
</script>

<style scoped>

</style>
