<template>
  <UserForm
    :submit="submit"
    :title="$t('Add group')"
    class="mt-7"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { GROUP_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import UserForm from './GroupForm'

const { mapActions } = createNamespacedHelpers(NAMESPACE.USER_GROUP)

export default {
  name: 'GroupCreate',
  components: { UserForm },
  methods: {
    ...mapActions({
      create: NAMESPACE.GROUP_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: GROUP_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
