<template>
  <Box :search="false" class="pt-6">
    <v-row type="flex">
      <v-col :cols="3" class="pt-8">
        <v-tabs
          :vertical="true"
          :hide-slider="true"
          color="text-black primary red"
        >
          <permission-wrapper
            v-for="item in USER_MENU"
            :key="item.name"
            :permissions="item.permissions">
            <v-tab
              :to="{ name: item.name }"
              :vertical="true"
              class="pb-6 pt-6 fluid"
              fluid
              optional
            >
              {{ $t(item.title) }}
            </v-tab>
          </permission-wrapper>
        </v-tabs>
      </v-col>
      <v-col :cols="9">
        <v-fade-transition :hide-on-leave="true">
          <router-view />
        </v-fade-transition>
      </v-col>
    </v-row>
  </Box>
</template>

<script>
import { USER_MENU } from '@/constants/menu'
import Box from '@/components/Box/Box'
import PermissionWrapper from '@/components/PermissionWrapper'

export default {
  name: 'CommonPage',
  components: { PermissionWrapper, Box },
  data () {
    return {
      USER_MENU
    }
  }
}
</script>

<style lang="scss" scoped>
.fluid {
  max-width: 100%;
}
</style>
