<template>
  <v-data-table
    v-on="$listeners"
    v-model="selected"
    @input="onSelect"
    :headers="headers"
    :items="data"
    :loading="loading"
    :loading-text="$t('Loading data')"
    :item-key="itemKey"
    :options.sync="pagination"
    :server-items-length="count"
    :footer-props="{
      itemsPerPageOptions: [10, 20, 50, 100]
    }"
    :show-select="showSelect"
    :single-expand="singleExpand"
    :expanded="expanded"
    :show-expand="showExpand"
    ref="customTable"
    class="custom-table"
  >
    <template class="pa-1" v-slot:item.drag>
      <v-btn icon class="drag">
        <v-icon>mdi-drag</v-icon>
      </v-btn>
    </template>
    <slot v-for="(_, name) in $slots" :name="name" :slot="name"/>
    <template v-slot:header.action>
      {{ $t('actions') }}
    </template>
    <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
      <slot :name="name" v-bind="slotData"/>
    </template>
    <template v-slot:progress>
      <v-progress-linear
        indeterminate
        color="blue darken-2"
        :height="4"
      ></v-progress-linear>
    </template>
    <template v-slot:loading>
      <v-skeleton-loader
        ref="skeleton"
        type="table-tbody"
        class="mx-auto mt-1"
      ></v-skeleton-loader>
    </template>
  </v-data-table>
</template>

<script>
import Sortable from 'sortablejs'
import not from 'ramda/src/not'
import equals from 'ramda/src/equals'
import { getDataWithIds, getIdsFromUrl, prepareDataIdsForUrl } from '@/helpers/objects'

export default {
  name: 'Table',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    headers: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    },
    draggable: {
      type: Boolean,
      default: false
    },
    singleExpand: {
      type: Boolean,
      default: false
    },
    showExpand: {
      type: Boolean,
      default: false
    },
    showSelect: {
      type: Boolean,
      default: false
    },
    itemKey: {
      type: String,
      default: () => 'id'
    },
    loadData: {
      type: Function,
      default: () => {
      }
    },
    count: {
      type: Number,
      default: 0
    },
    expanded: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      selected: [],
      pagination: {
        page: 1,
        itemsPerPage: 10,
        sortBy: Array(0),
        sortDesc: Array(0),
        groupBy: Array(0),
        groupDesc: Array(0),
        mustSort: false,
        multiSort: false,
        rowsPerPage: 10
      }
    }
  },
  watch: {
    pagination: {
      deep: true,
      handler (val, oldVal) {
        if (not(equals(val, oldVal))) {
          const page = this.pagination.page
          const pageSize = this.pagination.itemsPerPage
          const query = this.$route.query
          this.$router.push({
            query: {
              ...query,
              page,
              page_size: pageSize
            }
          })
        }
      }
    },
    data: {
      deep: true,
      handler () {
        const data = this.data
        const ids = getIdsFromUrl(this.$route.query)
        this.selected = getDataWithIds(ids, data)
      }
    }
  },
  methods: {
    onSelect (items) {
      const ids = prepareDataIdsForUrl(items)
      const route = this.$route.query
      this.$router.push({
        query: {
          ...route,
          ids
        }
      })
    },
    dragReorder ({ oldIndex, newIndex }) {
      if (not(equals(oldIndex, newIndex))) {
        this.$emit('drag', oldIndex, newIndex)
      }
    },
    initDragDrop () {
      const draggable = this.draggable
      draggable && Sortable.create(
        this.$refs.customTable.$el.getElementsByTagName('tbody')[0],
        {
          draggable: 'table tbody tr',
          handle: '.drag',
          easing: 'cubic-bezier(1, 0, 0, 1)',
          direction: 'vertical',
          onEnd: this.dragReorder
        }
      )
    }
  },
  mounted () {
    this.initDragDrop()
  },
  created () {
    this.pagination.page = parseInt(this.$route.query.page) || 1
    this.pagination.rowsPerPage = parseInt(this.$route.query.page_size) || 10
  }
}
</script>

<style lang="scss">
  .custom-table {
    & thead th {
      font-weight: 500;
      font-size: 16px;
      border-bottom: none;
    }
    & tbody tr.sortable-chosen td {
      border-bottom: 1px solid red!important;
      border-top: 1px solid red!important;
    }
    .drag {
      cursor: move;
    }
  }
</style>
