<template>
  <v-main class="box pt-0 pb-6 pl-6 pr-6" fluid>
    <v-row class="px-0" v-if="$slots.filter || search || title" justify="space-between" align="center">
      <v-col cols="12" sm="6" class="box__title">
        {{ title }}
      </v-col>
      <v-col cols="12" sm="6" class="box__actions">
        <v-container>
          <v-row align="center">
            <slot name="search" v-if="search">
              <SearchBox />
            </slot>
            <div class="ml-4" v-if="$slots.filter">
              <slot class="box__filter" name="filter"/>
            </div>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <div class="box_content">
      <slot />
    </div>
  </v-main>
</template>

<script>
import SearchBox from '@/components/Box/SearchBox'

export default {
  name: 'Box',
  props: {
    title: {
      type: String,
      default: ''
    },
    search: {
      type: Boolean,
      default: true
    }
  },
  components: {
    SearchBox
  }
}
</script>

<style lang="scss" scoped>
  .box {
    .box__title {
      font-weight: bold;
      font-size: 22px;
    }
  }
</style>
