<template>
  <v-text-field
    v-model="search"
    append-icon="mdi-magnify"
    :hide-details="true"
    :placeholder="$t('search')"
    @keydown.enter="onSearch"
    @click:append="onSearch"
    full-width
    dense
    solo
  ></v-text-field>
</template>

<script>
export default {
  name: 'SearchBox',
  data () {
    const search = this.$route.query.search
    return {
      search
    }
  },
  methods: {
    onSearch () {
      const search = this.search
      const query = this.$route.query
      this.$router.push({
        query: {
          ...query,
          search
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
