<template>
  <div id="app">
    <v-theme-provider root>
      <v-app>
        <snackbar />
        <confirm-dialog ref="confirm" />
        <router-view />
      </v-app>
    </v-theme-provider>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Snackbar from '@/components/Snackbar'
import ConfirmDialog from '@/components/ConfirmDialog'
export default {
  components: {
    ConfirmDialog,
    Snackbar
  },
  computed: {
    ...mapState(['dark'])
  },
  mounted () {
    this.$root.$confirm = this.$refs.confirm.open
    this.$vuetify.theme.dark = this.dark
  }
}
</script>
<style lang="scss">
</style>
