<template>
  <component :is="view" />
</template>

<script>
import { mapGetters } from 'vuex'
import RatingList from './RatingList'
import RatingForInspectorList from './RatingForInspectorsList'

export default {
  name: 'RatingListRoot',
  components: {
    RatingList,
    RatingForInspectorList
  },
  computed: {
    ...mapGetters(['hasAccess']),
    view () {
      const hasAccessToFullList = this.hasAccess('list_rating')
      if (hasAccessToFullList) return 'RatingList'
      return 'RatingForInspectorList'
    }
  }
}
</script>

<style scoped>

</style>
