<template>
  <Loading :loading="loading">
    <line-chart  class="rating-line-chart" :chart-data="data" :options="options" />
  </Loading>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import prop from 'ramda/src/prop'
import map from 'ramda/src/map'
import {
  GET_RATING_STATISTIC_ACTION,
  RATING
} from '@/constants/actionTypes'
import LineChart from '@/components/LineChart'
import Loading from '@/components/Loading'

const { mapActions, mapState } = createNamespacedHelpers(RATING)

export default {
  name: 'RatingLineChart',
  components: { Loading, LineChart },
  props: {
    rating: {
      type: Object
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      options: {
        maintainAspectRatio: false
      },
      loading: false
    }
  },
  mounted () {
    this.getStatistic()
  },
  methods: {
    ...mapActions({
      getRatingStatisticAction: GET_RATING_STATISTIC_ACTION
    }),
    getStatistic () {
      const ratingId = this.rating.id
      this.loading = true
      this.getRatingStatisticAction(ratingId).finally(() => {
        this.loading = false
      })
    }
  },
  computed: {
    ...mapState(['statistic']),
    data () {
      const data = map(prop('ratingSum'), this.statistic)
      const title = this.title
      const labels = map(prop('year'), this.statistic)
      return {
        labels,
        datasets: [
          {
            label: title,
            backgroundColor: 'transparent',
            pointBackgroundColor: 'red',
            data
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.rating-line-chart {
  position: relative;
  max-height: 250px;
}
</style>
