<template>
  <v-container id="rating-detail" class="px-0 py-0" fluid>
    <v-skeleton-loader
      v-if="loading"
      type="article"
      class="mx-auto"
    ></v-skeleton-loader>
    <v-card v-else-if="data" flat>
      <v-card-text>
        <v-row>
          <v-col :cols="6">
            <v-simple-table class="detail-table" dense>
              <template v-slot:default>
                <thead>
                <tr>
                  <th>{{ $t('rating_sum') }}</th>
                  <th>{{ data.sum | digit }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="factorValue in data.factorValues" :key="factorValue.id">
                  <td>
                    {{ factorValue.factor | translate('name') }}:
                    <span class="font-weight-bold" v-if="factorValue.value">
                    {{ getValue(factorValue) }}
                  </span>
                    <span class="font-weight-bold" v-else>{{ $t('not_exists') }}</span>
                  </td>
                  <td>
                    <factor-value-calc
                      v-if="factorValue.value !== null"
                      :value="factorValue.value"
                      :factor="factorValue.factor"
                    />
                    <span v-else>0</span>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
          <v-col :cols="6">
            <PermissionWrapper class="mb-4" permissions="get_statistics_rating">
              <rating-line-chart :rating="data" :title="$options.filters.translate(data.company, 'name')" />
            </PermissionWrapper>
            <PermissionWrapper permissions="get_full_statistics_rating">
              <rating-bar-chart :rating="data" :title="$options.filters.translate(data.company, 'name')" />
            </PermissionWrapper>
          </v-col>
        </v-row>
        <v-divider class="mb-2"/>
        <div v-if="data.revision && data.revision.confirmed">
          <input-detail class="py-1" :label="$t('checking_date')">
            {{ data.revision.revisionDate | timeFormat('DD/MM/YYYY') }}
          </input-detail>
          <input-detail class="py-1" :label="$t('checking_expire')">
            <span :class="expiredStyleClass">
              {{ data.revision.nextRevisionDate | timeFormat('DD/MM/YYYY') }}
            </span>
          </input-detail>
          <input-detail class="py-1" :label="$t('agent')">
            {{ data.revision.user.fullName }}
          </input-detail>
        </div>
        <div v-else-if="data.revision">
          <v-row justify="space-between" class="px-0 py-0 mx-0 my-0">
            <div>
              <input-detail class="py-1" :label="$t('checking_date')">
                {{ data.revision.revisionDate | timeFormat('DD/MM/YYYY') }}
              </input-detail>
              <input-detail class="py-1" :label="$t('agent')">
                {{ data.revision.user.fullName }}
              </input-detail>
            </div>
            <input-detail class="py-1">
              <v-btn
                class="ma-2"
                color="success"
                @click="$emit('confirm', data.revision.id)"
                small
                tile
                outlined
              >
                <v-icon left>mdi-check-decagram</v-icon> {{ $t('confirm') }}
              </v-btn>
            </input-detail>
          </v-row>
        </div>
        <input-detail v-else class="py-1" :label="$t('checking_expire')">
          <span class="red--text">{{ $t('not_checked') }}</span>
        </input-detail>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import pathOr from 'ramda/src/pathOr'
import path from 'ramda/src/path'
import moment from 'moment'
import InputDetail from '@/components/InputDetail'
import FactorValueCalc from '@/components/FactorValueCalc'
import RatingLineChart from '@/views/rating/RatingLineChart'
import RatingBarChart from '@/views/rating/RatingBarChart'
import PermissionWrapper from '@/components/PermissionWrapper'

export default {
  name: 'RatingDetail',
  components: {
    PermissionWrapper,
    RatingBarChart,
    RatingLineChart,
    FactorValueCalc,
    InputDetail
  },
  props: {
    data: {
      type: Object,
      default: () => {
      }
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  updated () {
    this.$nextTick(() => {
      this.$vuetify.goTo('#rating-detail', {
        offset: 45
      })
    })
  },
  methods: {
    getRegion (item) {
      return pathOr({}, ['company', 'district', 'region'], item)
    },
    getValue (data) {
      const conditions = path(['factor', 'conditions'], data)
      const isInterval = path(['factor', 'isInterval'], data)
      if (!isInterval && conditions[0].logic) {
        return this.$t('exists')
      }
      return data.value
    }
  },
  computed: {
    expiredStyleClass () {
      const expiresDate = path(['revision', 'nextRevisionDate'], this.data)
      const styleClasses = ['darken-1']
      const isExpired = moment(expiresDate).isBefore(moment.now())
      if (isExpired) {
        styleClasses.push('red--text')
        return styleClasses
      }
      styleClasses.push('green--text')
      return styleClasses
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-table {
  tbody tr {
    td {
      border-bottom: none!important;
    }
  }
}
</style>
