<template>
  <line-chart :chart-data="data" :options="options" />
</template>

<script>
import prop from 'ramda/src/prop'
import map from 'ramda/src/map'
import LineChart from '@/components/LineChart'

export default {
  name: 'RatingChart',
  props: ['chartData', 'title'],
  components: { LineChart },
  data () {
    return {
      options: {}
    }
  },
  computed: {
    data () {
      const data = this.chartData
      const title = this.title
      return {
        labels: map(prop('year'), data),
        datasets: [
          {
            label: title,
            backgroundColor: 'transparent',
            pointBackgroundColor: 'red',
            data: map(prop('ratingSum'), data)
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
</style>
