<template>
  <Loading :loading="loading" class="rating-bar">
    <year-select
      class="rating-bar__year"
      v-model="year"
      @input="getFullStatistic"
    />
    <bar-chart class="rating-bar__chart" :chart-data="data" :options="options" />
  </Loading>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import prop from 'ramda/src/prop'
import map from 'ramda/src/map'
import {
  GET_RATING_FULL_STATISTIC_ACTION,
  RATING
} from '@/constants/actionTypes'
import moment from 'moment'
import BarChart from '@/components/BarChart'
import YearSelect from '@/components/Forms/YearSelect'
import Loading from '@/components/Loading'

const { mapActions, mapState } = createNamespacedHelpers(RATING)

export default {
  name: 'RatingBarChart',
  components: { Loading, YearSelect, BarChart },
  props: {
    rating: {
      type: Object
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      options: {
        maintainAspectRatio: false
      },
      loading: false,
      year: new Date().getFullYear()
    }
  },
  mounted () {
    this.getFullStatistic()
  },
  methods: {
    ...mapActions({
      getRatingFullStatisticAction: GET_RATING_FULL_STATISTIC_ACTION
    }),
    getFullStatistic () {
      const ratingId = this.rating.id
      const year = this.year
      this.loading = true
      this.getRatingFullStatisticAction(ratingId).then(func => func(year).finally(() => {
        this.loading = false
      }))
    }
  },
  computed: {
    ...mapState(['fullStatistic']),
    data () {
      const data = map(prop('sum'), this.fullStatistic)
      const title = this.title
      const labels = map(item => moment(prop('createdDate', item)).format('DD/MM/YYYY'), this.fullStatistic)
      return {
        labels,
        datasets: [
          {
            label: title,
            backgroundColor: 'red',
            barPercentage: 0.9,
            barThickness: 6,
            maxBarThickness: 8,
            maxBarLength: 4,
            data
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.rating-bar {
  position: relative;
  &__chart {
    max-height: 250px;
    position: relative;
    margin-top: 25px;
  }
  &__year {
    position: absolute;
    right: 25px;
    z-index: 1;
    max-width: 80px;
    font-size: 12px;
    top: 15px
  }
}
</style>
