<template>
  <Box :title="$t('companies')">
    <template v-slot:filter>
      <FilterForm />
    </template>
    <Table
      :data="list.results"
      :loading="loading"
      :count="list.count"
      :headers="tableHeaders"
      :show-select="true"
      :show-expand="hasAccess('retrieve_rating')"
      :single-expand="true"
      :expanded="expanded"
      @item-expanded="onExpand"
    >
      <template v-slot:item.company="{ item }">
        {{ item.company | translate('name') }}
      </template>
      <template v-slot:item.station="{ item }">
        {{ item.company.station | translate('name') }}
      </template>
      <template v-slot:item.district="{ item }">
        {{ getRegion(item) | translate('name') }}
      </template>
      <template v-slot:item.mainOrganization="{ item }">
        {{ item.company.mainOrganization | translate('name') }}
      </template>
      <template v-slot:item.updatedDate="{ item }">
        {{ item.updatedDate | timeFormat('DD/MM/YYYY') }}
      </template>
      <template v-slot:item.station="{ item }">
        {{ item.company.station | translate('name') }}
      </template>
      <template v-slot:item.sum="{ item }">
        {{ item.sum | digit }}
      </template>
      <template v-slot:item.category="{ item }">
        {{ item.category | translate('name') }}
      </template>
      <template v-slot:item.isActive="{ item }">
        <is-active :active="item.company.isActive" />
      </template>
      <template v-slot:item.difference="{ item }">
        <RatingDifference :expires-date="item.revision.nextRevisionDate" :value="item.difference"/>
      </template>
      <template v-slot:item.expire="{ item }">
        {{ item.revision.nextRevisionDate | timeFormat('DD/MM/YYYY') }}
      </template>
      <template v-slot:expanded-item="{ headers }">
        <td :colspan="headers.length">
          <rating-detail
            :loading="detailLoading"
            :data="detail"
            @confirm="confirmRevision"
          />
        </td>
      </template>
    </Table>
    <Sticky>
      <v-fab-transition>
        <report-button v-if="$route.query.ids" @click="report" />
      </v-fab-transition>
    </Sticky>
  </Box>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex'
import equals from 'ramda/src/equals'
import not from 'ramda/src/not'
import omit from 'ramda/src/omit'
import pathOr from 'ramda/src/pathOr'
import path from 'ramda/src/path'
import Box from '@/components/Box'
import Table from '@/components/Table/Table'
import FilterForm from '@/views/rating/RatingFilterForm'
import RatingDifference from '@/components/RatingDifference'
import IsActive from '@/components/IsActive'
import * as NAMESPACE from '@/constants/actionTypes'
import Sticky from '@/components/Sticky'
import ReportButton from '@/components/ReportButton'
import RatingDetail from '@/views/rating/RatingDetail'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.RATING)

export default {
  name: 'RatingList',
  components: {
    RatingDetail,
    ReportButton,
    Sticky,
    IsActive,
    RatingDifference,
    Box,
    Table,
    FilterForm
  },
  data: function () {
    return {
      loading: false,
      detailLoading: false,
      expanded: []
    }
  },
  computed: {
    ...mapGetters(['hasAccess']),
    ...mapState(['list', 'detail']),
    tableHeaders () {
      return [
        {
          text: '#',
          align: 'center',
          sortable: false,
          value: 'id',
          width: 30
        },
        {
          text: this.$t('name'),
          align: 'center',
          sortable: false,
          value: 'company'
        },
        {
          text: this.$t('main_organization'),
          align: 'center',
          sortable: false,
          value: 'mainOrganization'
        },
        {
          text: this.$t('updated_date'),
          align: 'center',
          sortable: false,
          value: 'updatedDate'
        },
        {
          text: this.$t('tax_id'),
          align: 'center',
          sortable: false,
          value: 'company.taxId'
        },
        {
          text: this.$t('region'),
          align: 'center',
          sortable: false,
          value: 'district'
        },
        {
          text: this.$t('station'),
          align: 'center',
          sortable: false,
          value: 'station'
        },
        {
          text: this.$t('rating_sum'),
          align: 'center',
          sortable: false,
          value: 'sum'
        },
        {
          text: this.$t('category'),
          align: 'center',
          sortable: false,
          value: 'category'
        },
        {
          text: this.$t('is_active'),
          align: 'center',
          sortable: false,
          value: 'isActive'
        },
        {
          text: this.$t('difference'),
          align: 'center',
          sortable: false,
          value: 'difference'
        },
        {
          text: this.$t('checking_expire'),
          align: 'center',
          sortable: false,
          value: 'expire'
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      getListAction: NAMESPACE.GET_RATING_LIST_ACTION,
      getDetailAction: NAMESPACE.RATING_DETAIL_ACTION,
      report: NAMESPACE.EXPORT_REPORT_ACTION,
      confirm: NAMESPACE.REVISION_CONFIRM_ACTION
    }),
    async getList () {
      this.loading = true
      return this.getListAction().finally(() => {
        this.loading = false
      })
    },
    getDetail (id) {
      this.detailLoading = true
      return this.getDetailAction(id).finally(() => {
        this.detailLoading = false
      })
    },
    onExpand ({ item, value }) {
      if (value) {
        this.expanded = [item]
        this.getDetail(item.id)
      }
    },
    confirmRevision (id) {
      return this.confirm(id).then((response) => {
        const ratingId = path(['rating', 'id'], response.data)
        this.detailLoading = true
        this.getList().then(() => {
          this.getDetail(ratingId)
        })
      })
    },
    getRegion (item) {
      return pathOr({}, ['company', 'district', 'region'], item)
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler (newVal = {}, oldVal) {
        const newQuery = omit(['ids'], newVal)
        const oldQuery = omit(['ids'], oldVal)
        if (not(equals(newQuery, oldQuery)) || !oldVal) {
          this.getList()
        }
      }
    }
  }
}
</script>

<style lang="scss">

</style>
