<template>
  <FilterDialog v-model="filter">
    <v-form ref="form">
      <v-container class="pa-0">
        <v-row>
          <v-col cols="12" sm="6">
            <v-select
              v-model="filter.importance"
              :items="COMPANY_CATEGORY"
              :label="$t('category')"
              block
              outlined
              dense
            >
              <template v-slot:selection="{ item, parent }">
                <span @click="parent.selectItem(item)">
                  {{ $t(item.text) }}
                </span>
              </template>
              <template v-slot:item="{ item }">
                {{ $t(item.text) }}
              </template>
            </v-select>
            <station-select v-model="filter.station" />
          </v-col>
          <v-col cols="12" sm="6">
            <region-select v-model="filter.region" />
            <organization-select v-model="filter.organization" />
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </FilterDialog>
</template>

<script>
import FilterDialog from '@/components/FilterDialog'
import { COMPANY_CATEGORY } from '@/constants/backend'
import StationSelect from '@/components/Forms/StationSelect'
import RegionSelect from '@/components/Forms/RegionSelect'
import OrganizationSelect from '@/components/Forms/OrganizationSelect'

export default {
  name: 'RatingFilterForm',
  components: {
    OrganizationSelect,
    RegionSelect,
    StationSelect,
    FilterDialog
  },
  data () {
    const { importance } = this.$route.query
    return {
      filter: {
        importance
      },
      COMPANY_CATEGORY
    }
  }
}
</script>

<style scoped>

</style>
