<template>
  <ValidationObserver tag="div" ref="obs" v-slot="{ invalid, validated, passes }">
    <v-card class="elevation-3 pl-12 pr-12 pb-6" min-width="400px">
      <v-card-title color="primary" class="justify-center text-uppercase">
        {{ $t('login') }}
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <ValidationProvider name="username" rules="required" v-slot="{ errors, valid }">
            <v-text-field
              v-model="form.username"
              :error-messages="errors || backendErrors['username']"
              :success="valid"
              :label="$t('username')"
              :placeholder="$t('Enter username')"
              outlined
              dense
              required
            ></v-text-field>
          </ValidationProvider>
          <ValidationProvider name="password" rules="required" v-slot="{ errors, valid }">
            <v-text-field
              v-model="form.password"
              :error-messages="errors || backendErrors['password']"
              :success="valid"
              type="password"
              :label="$t('password')"
              outlined
              dense
              required
            >
              <template v-slot.append-outer>
                <v-subheader>Forgot password?</v-subheader>
              </template>
            </v-text-field>
          </ValidationProvider>
          <v-checkbox
            v-model="form.remember"
            type="checkbox"
            :value="false"
            :label="$t('Remember me')"
            :hide-details="true"
          ></v-checkbox>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="primary"
          @click="passes(onSubmit)"
          :disabled="invalid || !validated"
          :loading="loading"
          large
          block
        >{{ $t('enter') }}</v-btn>
      </v-card-actions>
    </v-card>
  </ValidationObserver>
</template>

<script>
export default {
  props: {
    submit: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      form: {
        password: '',
        remember: false
      },
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    async onSubmit () {
      this.loading = true
      this.submit(this.form).catch((error) => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
