<template>
  <v-main>
    <v-container pa-0 fill-height fluid>
      <v-row align="center" justify="center">
        <LoginForm :submit="submit" />
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import LoginForm from '@/views/login/LoginForm'
import { LOGIN_ACTION } from '@/constants/actionTypes'

export default {
  name: 'Login',
  components: { LoginForm },
  methods: {
    submit (form) {
      return this.$store.dispatch(LOGIN_ACTION, form)
    }
  }
}
</script>

<style scoped>

</style>
