<template>
  <UserForm
    :submit="submit"
    :title="$t('Add user')"
    class="mt-5"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { USER_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import UserForm from './UserForm'
import { USER_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.USER)

export default {
  name: 'UserCreate',
  components: { UserForm },
  methods: {
    ...mapActions({
      create: USER_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: USER_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
