<template>
  <Form
    :submit="onSubmit"
    :loading="loading || detailLoading"
    :title="title"
  >
    <v-row>
      <v-col :md="6" sm="12">
        <div class="mb-2 text-center">
          <upload-avatar v-model="form.avatar" />
        </div>
        <password-input
          v-model="form.password"
          :backend-errors="backendErrors['password']"
          :label="$t('password')"
          :rules="form.id ? '' : 'required'"
          name="password"
        ></password-input>
        <password-input
          v-model="form.confPassword"
          :label="$t('confirm_password')"
          rules="required_if:password|confirmed:password"
          name="confPassword"
        ></password-input>
        <ValidationProvider name="isActive" v-slot="{ errors, valid }">
          <v-checkbox
            v-model="form.isActive"
            :error-messages="backendErrors['isActive'] || errors"
            :success="valid"
            :label="$t('is_active')"
            :placeholder="$t('is_active')"
            class="mt-0"
          ></v-checkbox>
        </ValidationProvider>
      </v-col>
      <v-col :md="6" sm="12">
        <ValidationProvider name="username" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.username"
            :error-messages="backendErrors['username'] || errors"
            :success="valid"
            :label="$t('username')"
            type="text"
            dense
            outlined
            required
          >
          </v-text-field>
        </ValidationProvider>
        <ValidationProvider name="email" rules="email|required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.email"
            :error-messages="backendErrors['email'] || errors"
            :success="valid"
            :label="$t('email')"
            type="email"
            outlined
            dense
            required
          >
          </v-text-field>
        </ValidationProvider>
        <ValidationProvider name="firstName" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.firstName"
            :error-messages="backendErrors['firstName'] || errors"
            :success="valid"
            :label="$t('first_name')"
            outlined
            dense
            required
          ></v-text-field>
        </ValidationProvider>
        <ValidationProvider name="lastName" rules="required" v-slot="{ errors, valid }">
          <v-text-field
            v-model="form.lastName"
            :error-messages="backendErrors['lastName'] || errors"
            :success="valid"
            :label="$t('last_name')"
            outlined
            dense
            required
          ></v-text-field>
        </ValidationProvider>
        <group-select v-model="form.groups" :disabled="form.isSuperuser" :rules="!form.isSuperuser ? 'required' : ''" />
        <RegionSelect
          v-model="form.region"
          :multiple="true"
          :backend-errors="backendErrors['region']"
          :rules="!form.isSuperuser ? 'required' : ''"
        />
      </v-col>
    </v-row>
  </Form>
</template>

<script>
import Form from '@/components/Forms/Form'
import PasswordInput from '@/components/Forms/PasswordInput'
import UploadAvatar from '@/components/Forms/UploadAvatar'
import GroupSelect from '@/components/Forms/GroupSelect'
import RegionSelect from '@/components/Forms/RegionSelect'

export default {
  components: { RegionSelect, GroupSelect, UploadAvatar, PasswordInput, Form },
  props: {
    value: {
      type: Object,
      required: false,
      default: () => ({})
    },
    title: {
      type: String,
      required: ''
    },
    detailLoading: {
      type: Boolean,
      default: false
    },
    submit: {
      type: Function,
      required: true
    }
  },
  data: function () {
    return {
      form: {},
      backendErrors: [],
      loading: false
    }
  },
  methods: {
    onSubmit () {
      const { form } = this
      this.loading = true
      this.submit(form).catch(error => {
        this.backendErrors = error.response.data
      }).finally(() => {
        this.loading = false
      })
    }
  },
  created () {
    const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
    this.form = {
      isActive: true,
      ...value
    }
  },
  watch: {
    form: {
      deep: true,
      handler (form) {
        this.backendErrors = []
        this.$emit('input', form)
      }
    }
  }
}
</script>

<style scoped>

</style>
