<template>
  <OrganizationForm
    :submit="submit"
    :title="$t('Add organization')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { ORGANIZATION_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import OrganizationForm from '@/views/common/organization/OrganizationForm'
import { ORGANIZATION_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.ORGANIZATION)

export default {
  name: 'OrganizationCreate',
  components: { OrganizationForm },
  methods: {
    ...mapActions({
      create: ORGANIZATION_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: ORGANIZATION_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
