<template>
  <OrganizationForm
    :key="detail && detail.id"
    :submit="submit"
    :value="detail"
    :title="$t('edit')"
    :detailLoading="loading"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import prop from 'ramda/src/prop'
import { ORGANIZATION_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import OrganizationForm from '@/views/common/organization/OrganizationForm'

const { mapActions, mapState } = createNamespacedHelpers(NAMESPACE.ORGANIZATION)

export default {
  name: 'OrganizationUpdate',
  components: { OrganizationForm },
  data () {
    return {
      loading: false
    }
  },
  mounted () {
    const id = prop('id', this.$route.params)
    this.loading = true
    this.detailAction(id).finally(() => {
      this.loading = false
    })
  },
  computed: {
    ...mapState(['detail'])
  },
  methods: {
    ...mapActions({
      updateAction: NAMESPACE.ORGANIZATION_UPDATE_ACTION,
      detailAction: NAMESPACE.ORGANIZATION_DETAIL_ACTION
    }),
    submit (form) {
      const id = prop('id', this.$route.params)
      return this.updateAction(id).then((update) => {
        return update(form).then(() => {
          this.$router.push({
            name: ORGANIZATION_LIST
          })
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
