<template>
  <DistrictForm
    :submit="submit"
    :title="$t('Add district')"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import { DISTRICT_LIST } from '@/constants/routes'
import * as NAMESPACE from '@/constants/actionTypes'
import DistrictForm from '@/views/common/district/DistrictForm'
import { DISTRICT_CREATE_ACTION } from '@/constants/actionTypes'

const { mapActions } = createNamespacedHelpers(NAMESPACE.DISTRICT)

export default {
  name: 'DistrictCreate',
  components: { DistrictForm },
  methods: {
    ...mapActions({
      create: DISTRICT_CREATE_ACTION
    }),
    submit (form) {
      return this.create(form).then(() => {
        this.$router.push({
          name: DISTRICT_LIST
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
