<template>
  <ValidationProvider name="region" :rules="rules" v-slot="{ errors, valid }">
    <v-combobox
      :value="value"
      :items="items"
      :label="$t('district')"
      :search-input.sync="word"
      :loading="loading"
      :error-messages="backendErrors || errors"
      :success="valid"
      @change="change"
      @focus="search('')"
      item-value="id"
      hide-no-data
      no-filter
      hide-selected
      dense
      outlined
    >
      <template v-slot:selection="{ item, parent }">
        <span @click="parent.selectItem(item)">
          {{ item | translate('name') }}
        </span>
      </template>
      <template v-slot:item="{ item }">
        {{ item | translate('name') }}
      </template>
    </v-combobox>
  </ValidationProvider>
</template>

<script>
import axios from '@/plugins/axios'
import * as API from '@/constants/api'

export default {
  name: 'DistrictSelect',
  props: {
    value: {
      type: [Number, Object]
    },
    region: {
      type: Number
    },
    backendErrors: {
      required: false
    },
    rules: {
      type: [String, Array],
      default: ''
    }
  },
  data () {
    return {
      items: [],
      loading: false,
      word: null
    }
  },
  methods: {
    search (word) {
      const { region } = this
      this.loading = true
      axios.get(API.GET_DISTRICT_LIST, { params: { word, region } }).then(response => {
        this.items = response.data.results
      }).finally(() => {
        this.loading = false
      })
    },
    change (val) {
      this.$emit('input', val)
    }
  },
  watch: {
    word (key) {
      this.search(key)
    }
  }
}
</script>

<style scoped>

</style>
