<template>
  <v-container class="py-0 px-0" fluid>
    <v-row type="flex">
      <v-col :cols="canDelete ? 10 : 12" class="py-0">
        <v-row v-if="interval">
          <v-col :cols="6">
            <ValidationProvider name="syncMin" rules="required" v-slot="{ errors, valid }">
              <v-text-field
                v-model.number="syncMin"
                :error-messages="errors"
                :success="valid"
                :label="$t('min_value')"
                :placeholder="$t('Enter min value')"
                type="number"
                outlined
                dense
                required
              >
              </v-text-field>
            </ValidationProvider>
          </v-col>
          <v-col :cols="6">
            <ValidationProvider name="syncMax" rules="required" v-slot="{ errors, valid }">
              <v-text-field
                v-model.number="syncMax"
                :error-messages="errors"
                :success="valid"
                :label="$t('max_value')"
                :placeholder="$t('Enter max value')"
                type="number"
                outlined
                dense
                required
              >
              </v-text-field>
            </ValidationProvider>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-row type="flex">
              <v-col :cols="interval ? 12 : 9">
                <ValidationProvider name="syncValue" rules="required" v-slot="{ errors, valid }">
                  <v-text-field
                    v-model.number="syncValue"
                    :error-messages="errors"
                    :success="valid"
                    :label="$t('value')"
                    :placeholder="$t('Enter value')"
                    type="number"
                    outlined
                    dense
                    required
                  >
                  </v-text-field>
                </ValidationProvider>
              </v-col>
              <v-col class="mt-2" cols="3" v-if="!interval">
                <v-checkbox
                  v-model="syncLogic"
                  :false-value="false"
                  :true-value="true"
                  :label="$t('logic')"
                  :hide-details="true"
                  class="mt-0"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col v-if="canDelete" cols="2" class="mt-6 py-0 d-flex justify-end">
        <v-btn @click="$emit('delete')" color="error" small>
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'FactorCondition',
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    interval: {
      type: Boolean
    },
    canDelete: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    syncMin: {
      get () {
        return this.value.min
      },
      set (val) {
        const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
        this.$emit('input', { ...value, min: val })
      }
    },
    syncMax: {
      get () {
        return this.value.max
      },
      set (val) {
        const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
        this.$emit('input', { ...value, max: val })
      }
    },
    syncValue: {
      get () {
        return this.value.value
      },
      set (val) {
        const { value, interval } = this
        if (interval) {
          return this.$emit('input', { ...value, value: val })
        }
        if (value.logic) {
          return this.$emit('input', { value: val, logic: value.logic })
        }
        return this.$emit('input', { value: val })
      }
    },
    syncLogic: {
      get () {
        return this.value.logic
      },
      set (val) {
        const { value, interval } = this
        if (!interval) {
          return this.$emit('input', { value: value.value, logic: val })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
