<template>
  <div v-if="factors.length">
    <h4>{{ $t('factors') }}</h4>
    <v-row>
      <v-col v-for="factor in factors" :key="factor.id" cols="12">
        <v-text-field
          v-if="!isLogic(factor)"
          :value="factor.value"
          @input="change(factor, $event)"
          type="number"
          dense
        >
          <template v-slot:label>
            {{ factor | translate('name') }}
          </template>
        </v-text-field>
        <v-checkbox
          v-else
          @change="change(factor, $event)"
          :value="factor.value"
          :input-value="factor.value"
          :false-value="0"
          :true-value="factor.conditions[0].value"
          :hide-details="true"
          class="mt-0"
        >
          <template v-slot:label>
            {{ factor | translate('name') }}
          </template>
        </v-checkbox>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import pathEq from 'ramda/src/pathEq'
import find from 'ramda/src/find'
import findIndex from 'ramda/src/findIndex'
import propOr from 'ramda/src/propOr'
import nth from 'ramda/src/nth'
import compose from 'ramda/src/compose'
import axios from '@/plugins/axios'
import * as API from '@/constants/api'

export default {
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      factors: []
    }
  },
  methods: {
    change (factor, val) {
      const value = this.value ? JSON.parse(JSON.stringify(this.value)) : {}
      const index = findIndex(pathEq(['factor', 'id'], factor.id), value)
      this.$emit('update', index, { value: val, factor: factor })
    },
    isLogic (factor) {
      return compose(
        propOr(false, 'logic'),
        nth(0),
        propOr([], 'conditions')
      )(factor)
    },
    getFactors () {
      axios.get(API.GET_FACTOR_LIST, { params: { page_size: 100 } }).then(response => {
        this.factors = response.data.results
        this.factors.forEach((factor, index) => {
          const initial = this.value
          const hasFactor = find(pathEq(['factor', 'id'], factor.id), initial)
          if (!hasFactor) {
            this.$emit('update', initial.length, { value: null, factor })
            this.$set(this.factors[index], 'value', null)
          } else {
            this.$set(this.factors[index], 'value', hasFactor.value)
          }
        })
      })
    }
  },
  created () {
    this.getFactors()
  }
}
</script>

<style scoped>

</style>
