<template>
  <div>
    <div v-for="(condition, i) in conditions" :key="i">
      <factor-condition
        @input="(v) => updateCondition(i, v)"
        @delete="deleteCondition(i)"
        :value="condition"
        :can-delete="conditions.length > 1"
        :interval="interval"
      >
      </factor-condition>
    </div>
    <div class="d-flex justify-end">
      <v-btn color="success" :disabled="!interval" @click="addCondition" text>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import remove from 'ramda/src/remove'
import FactorCondition from '@/components/Forms/FactorCondition'

export default {
  name: 'FactorConditions',
  components: {
    FactorCondition
  },
  props: {
    value: {
      type: Array,
      default: () => [{}]
    },
    interval: {
      type: Boolean,
      default: () => true
    }
  },

  data () {
    return {
      conditions: [{}]
    }
  },

  created () {
    this.conditions = this.value.slice(0)
  },

  methods: {
    updateCondition (i, value) {
      this.$set(this.conditions, i, value)
      this.$emit('input', this.conditions.slice(0))
    },

    deleteCondition (i) {
      this.conditions = remove(i, 1, this.conditions)
      this.$emit('input', this.conditions.slice(0))
    },

    addCondition () {
      this.conditions.push({})
    }
  }
}
</script>
