<template>
  <v-form ref="form">
    <v-card class="py-4 pa-6" outlined>
      <v-overlay
        :absolute="true"
        :value="loading"
        :opacity="0.6"
      >
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
      <v-card-title class="px-0" v-if="title">{{ title }}</v-card-title>
      <ValidationObserver ref="obs" tag="div" v-slot="{ invalid, validated, passes }">
        <slot v-bind="{ invalid, validated, passes }" />
        <v-container fluid>
          <v-row>
            <v-btn
              class="mr-5"
              color="primary lighten-1"
              @click="passes(submit)"
              :loading="loading"
              :disabled="invalid"
              large
              depressed
            >{{$t('submit')}}</v-btn>
            <v-btn
              color="red darken-1"
              @click="exit"
              large
              outlined
            >{{ $t('exit') }}</v-btn>
          </v-row>
        </v-container>
      </ValidationObserver>
    </v-card>
  </v-form>
</template>

<script>
export default {
  name: 'Form',
  props: {
    submit: {
      type: Function,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  methods: {
    exit () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>

</style>
