<template>
  <ValidationProvider
    v-slot="{ errors, valid }"
    :name="name"
    :rules="rules"
    tag="div"
  >
    <div class="text-input">
      <v-text-field
        :value="value"
        :hint="hint"
        :placeholder="placeholder"
        :label="label"
        :outlined="outlined"
        :dense="dense"
        :single-line="singleLine"
        :persistent-hint="persistentHint"
        :success="!!rules && valid"
        :error-messages="backendErrors || errors"
        :append-icon="showPass ? 'mdi-eye-off' : 'mdi-eye'"
        :type="showPass ? 'text' : 'password'"
        @input="onInput"
        @click:append="showPass = !showPass"
      ></v-text-field>
    </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider
  },
  props: {
    rules: {
      type: [Object, String],
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    backendErrors: {
      type: [Array, String]
    },
    value: {
      type: [String, Number],
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    persistentHint: {
      type: Boolean,
      default: false
    },
    hint: {
      type: String,
      default: ''
    },
    outlined: {
      type: Boolean,
      default: true
    },
    dense: {
      type: Boolean,
      default: true
    },
    singleLine: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showPass: false
    }
  },
  methods: {
    onInput (val) {
      if (val) {
        return this.$emit('input', val)
      }
      this.$emit('input', undefined)
    }
  }
}
</script>
