<template>
  <ValidationProvider name="permission" :rules="rules" v-slot="{ errors, valid }">
    <v-autocomplete
      :value="value"
      :items="items"
      :label="$t('permissions')"
      :loading="loading"
      :error-messages="backendErrors || errors"
      :success="valid"
      :item-text="(item) => $t(item.name)"
      @change="change"
      small-chips
      return-object
      outlined
      hide-selected
      deletable-chips
      multiple
      clearable
      dense
    >
    </v-autocomplete>
  </ValidationProvider>
</template>

<script>
import axios from '@/plugins/axios'
import * as API from '@/constants/api'

export default {
  name: 'PermissionsSelect',
  props: {
    value: {
      type: Array
    },
    backendErrors: {
      required: false
    },
    rules: {
      type: [String, Array],
      default: ''
    }
  },
  data () {
    return {
      items: [],
      loading: false,
      word: null
    }
  },
  mounted () {
    this.search()
  },
  methods: {
    search () {
      this.loading = true
      axios.get(API.GET_PERMISSIONS).then(response => {
        this.items = response.data
      }).finally(() => {
        this.loading = false
      })
    },
    change (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped>

</style>
