<template>
  <ValidationProvider name="region" :rules="rules" v-slot="{ errors, valid }">
    <v-autocomplete
      :value="value"
      :items="items"
      :label="$t('region')"
      :search-input.sync="word"
      :loading="loading"
      :error-messages="backendErrors || errors"
      :success="valid"
      :multiple="multiple"
      :item-text="(item) => $t(item.name)"
      @change="change"
      @focus="search('')"
      item-value="id"
      small-chips
      return-object
      hide-no-data
      outlined
      no-filter
      hide-selected
      deletable-chips
      clearable
      dense
    >
    </v-autocomplete>
  </ValidationProvider>
</template>

<script>
import axios from '@/plugins/axios'
import * as API from '@/constants/api'

export default {
  name: 'RegionSelect',
  props: {
    value: {
      type: [Number, Object, Array]
    },
    multiple: {
      type: Boolean,
      default: false
    },
    backendErrors: {
      required: false
    },
    rules: {
      type: [String, Array],
      default: ''
    }
  },
  data () {
    return {
      items: [],
      loading: false,
      word: null
    }
  },
  mounted () {
    this.search()
  },
  methods: {
    search (word) {
      this.loading = true
      const { district } = this
      axios.get(API.GET_REGION_LIST, { params: { search: word, district } }).then(response => {
        this.items = response.data.results
      }).finally(() => {
        this.loading = false
      })
    },
    change (val) {
      this.$emit('input', val)
    }
  },
  watch: {
    word (key) {
      this.search(key)
    }
  }
}
</script>

<style scoped>

</style>
