<template>
  <ValidationProvider
    name="permission"
    class="simple-permission"
    tag="div"
    v-slot="{ errors, valid }"
    :rules="rules"
  >
    <v-overlay
      :absolute="true"
      :value="loading"
      :opacity="0.6"
      color="white"
    >
      <v-progress-circular
        indeterminate
        color="black"
        size="32"
      ></v-progress-circular>
    </v-overlay>
    <v-input
      class="simple-permission__input"
      :label="$t('permissions')"
      :error-messages="backendErrors || errors"
      :success="valid"
    >
      <v-row>
        <v-col
          cols="6"
          class="pt-0"
          v-for="item in items"
          :key="item.id"
        >
          <v-checkbox
            v-model="selected"
            :label="$t(item.name)"
            :value="item"
            :hide-details="true"
            class="mt-0"
          ></v-checkbox>
        </v-col>
      </v-row>
    </v-input>
  </ValidationProvider>
</template>

<script>
import axios from '@/plugins/axios'
import * as API from '@/constants/api'

export default {
  name: 'SimplePermissionsSelect',
  props: {
    value: {
      type: Array,
      default: () => []
    },
    backendErrors: {
      required: false
    },
    rules: {
      type: [String, Array],
      default: ''
    }
  },
  data () {
    return {
      items: [],
      loading: false,
      selected: [],
      word: null
    }
  },
  mounted () {
    const { value } = this
    this.selected = value
    this.search()
  },
  methods: {
    search () {
      this.loading = true
      axios.get(API.GET_PERMISSIONS).then(response => {
        this.items = response.data
      }).finally(() => {
        this.loading = false
      })
    }
  },
  watch: {
    selected (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss">
.simple-permission {
  position: relative;
  &__input > .v-input__control > .v-input__slot {
    flex-direction: column;
    & > label {
      align-self: flex-start;
      margin-bottom: 10px
    }
  }
}
</style>
