<template>
  <div class="upload">
    <v-input>
      <v-avatar class="upload__avatar" :width="150" :height="150" color="white">
        <v-overlay :absolute="true" :value="loading" :opacity="0.6">
          <v-progress-circular indeterminate size="64" color="white">
            <span v-if="loading" class="white--text">{{ uploadPercent }}</span>
          </v-progress-circular>
        </v-overlay>
        <img v-if="thumbnailDataUrl" :src="thumbnailDataUrl" alt="" />
        <v-icon size="160" v-else>mdi-account-circle</v-icon>
        <input
          ref="file"
          type="file"
          accept="image/*"
          @change="addedFile"
          hidden
        />
      </v-avatar>
      <v-btn
        class="upload__add"
        color="primary"
        @click="uploadTrigger"
        fab
        dark
        small
        v-if="!value"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn
        color="primary"
        class="upload__clear"
        @click="clearFile"
        fab
        dark
        small
        v-else
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>
    </v-input>
  </div>
</template>

<script>
import axios from '@/plugins/axios'
import { AVATAR_UPLOAD } from '@/constants/api'
import is from 'ramda/src/is'

export default {
  props: {
    value: {
      type: [String, Object],
      default: null
    }
  },

  data () {
    return {
      thumbnailDataUrl: null,
      uploadPercent: 0,
      loading: false
    }
  },

  methods: {
    addedFile (event) {
      const files = event.target.files
      if (files.length) {
        const file = files[0]
        const reader = new FileReader()
        reader.onloadend = () => {
          this.thumbnailDataUrl = reader.result
        }
        reader.readAsDataURL(file)

        this.uploadFile(file)
      }
    },
    uploadFile (file) {
      const formData = new FormData()
      formData.append('avatar', file)
      this.loading = true
      axios.post(AVATAR_UPLOAD, formData, {
        onUploadProgress: progressEvent => {
          this.uploadPercent = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          )
        }
      })
        .then(response => {
          this.$emit('input', response.data)
        })
        .finally(() => {
          this.loading = false
          this.uploadPercent = 0
        })
    },
    clearFile () {
      this.thumbnailDataUrl = null
      this.$emit('input', null)
    },
    uploadTrigger () {
      this.$refs.file.click()
    }
  },
  watch: {
    value: {
      deep: true,
      immediate: true,
      handler () {
        const value = this.value
        if (is(Object, value)) {
          this.thumbnailDataUrl = value.avatar
        } else {
          this.thumbnailDataUrl = value
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .upload {
    position: relative;
    display: inline-block;
    &__add,
    &__clear {
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
</style>
