<template>
  <div class="year-select">
    <v-select
      v-model="innerValue"
      :items="years"
      :single-line="true"
      :hide-details="true"
      @change="$emit('input', $event)"
      class="mt-0 pa-0"
      outlined
      dense
      solo
    ></v-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: () => new Date().getFullYear()
    }
  },
  data () {
    return {
      innerValue: null
    }
  },
  computed: {
    years () {
      const years = []
      const currentYear = new Date().getFullYear()
      for (let year = currentYear; year >= 1991; year--) {
        years.push(year)
      }
      return years
    }
  },
  created () {
    this.innerValue = this.value
  }
}
</script>

<style lang="scss">
.year-select {
  .v-input__slot {
    box-shadow: none!important;
    padding: 0 5px!important;
    font-size: 12px!important;
    min-height: 25px!important;
  }
}
</style>
